@charset 'utf-8';

@keyframes bouncing {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -50px, 0);
  }
}

.is-bouncing {
  animation: bouncing 1.25s ease-out infinite alternate;
}

.is-focusable:hover {
  transform: translate3d(0, -3%, 0);
  transition: transform 0.2s ease-out;
  box-shadow: 0 2em 4em -0.5em rgba(#fff, 0.2), 0 0px 0 4px rgba(#fff, 0.02);
}
