@charset 'utf-8';

html {
  scroll-behavior: smooth !important;
}
body {
  position: relative !important;
  width: 100% !important;
  box-sizing: border-box !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

@font-face {
  font-family: "Big Shoulders Stencil Display";
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url("/big-shoulders-stencil-display-latin-900-normal.woff2")
    format("woff2");
}

.navbar-brand,
h1,
h2 {
  font-family: "Big Shoulders Stencil Display", $family-sans-serif;
  white-space: nowrap;
  .navbar-item,
  .navbar-item:hover {
    color: $grey-darker !important;
  }
}

.navbar-brand-image {
  min-height: 45px !important;
  min-width: 45px !important;
}

.hero.is-small {
  margin-top: 8vh !important;
}
