@charset 'utf-8';

$white: #0a0a0a;
$white-bis: #121212;
$white-ter: #242424;
$grey-lightest: #363636;
$grey-lighter: #4a4a4a;
$grey-light: #7a7a7a;
$grey: #b5b5b5;
$grey-dark: #dbdbdb;
$grey-darker: #ededed;
$black-ter: #f5f5f5;
$black-bis: #fafafa;
$black: #fff;

$orange: #ff9d6d;
$yellow: #f9f871;
$green: #00c2ad;
$turquoise: #45fce5;
$cyan: #00dfff;
$blue: #00b3ff;
$purple: #b86bff;
$red: #f14668;

$primary: $purple;
$link: $purple;
$info: $blue;
$success: $turquoise;
$warning: $yellow;
$danger: $red;

$family-sans-serif: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto,
  Oxygen, Oxygen-Sans, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', 'Lucida Grande', Helvetica, Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$size-1: 8rem;
$size-2: 5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;

$weight-light: 300;
$weight-normal: 400;
$weight-medium: 700;
$weight-semibold: 800;
$weight-bold: 900;

$radius-small: 6px;
$radius: 12px;
$radius-large: 18px;
$radius-rounded: 9999px;

@import 'bulma/bulma.sass';

html {
  scroll-behavior: smooth;
}

.navbar-brand,
h1,
h2 {
  font-family: 'Big Shoulders Stencil Display', $family-sans-serif;
}

@keyframes bouncing {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -50px, 0);
  }
}
.is-bouncing {
  animation: bouncing 1.25s ease-out infinite alternate;
}
