:root {
  scroll-behavior: smooth;
}
@keyframes sl {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
.sl {
  position: relative;
  width: 100vw;
  padding-left: 0;
  & {
    animation: sl 60s linear infinite;
  }
  &:hover {
    animation-play-state: paused;
  }
  div.box:hover {
    transform: translate3d(0, -5%, 0);
    transition: transform 0.2s ease-out;
    box-shadow: 0 2em 4em -0.5em rgba(#fff, 0.2), 0 0px 0 4px rgba(#fff, 0.02);
  }
}
